# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/

# PyInstaller
build/
dist/
*.spec

# macOS
.DS_Store

# Uploads (optional)
uploads/

# Secrets (recommended)
config.json
database/config.json
".venv/" 
"__pycache__/" 
"*.pyc" 
